.ship-form{
    margin:30px 100px;
}
.ship-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}