.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}